.Educationheading {
    color: #eed6d3 !important;
}
.colorsnames{
    color: #e8b4b8;
    font-weight: bold;
}

.descriptions {
    color: #eed6d3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subhedings {
    color: #a49393;
}
.spaces {
    padding: 20px;
}